/* * {
  border: 2px solid black;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  --website-background-light: #ffffff;
  --website-background-dark: #212529;
  --text-color-light: black;
  --text-color-dark: white;
}

body {
  background-color: var(--website-background-dark);
  color: var(--text-color-dark);
}

i {
  color: var(--text-color-dark);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--text-color-dark);
  text-decoration: none;
}
a:hover {
  color: var(--text-color-dark);
  text-decoration: underline;
}

/* Header */
#header_top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Section 1 */
#main_article {
  background-color: #343a40;
}