html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  --website-background-light: #ffffff;
  --website-background-dark: #212529;
  --text-color-light: black;
  --text-color-dark: white;
  --website-background-grey: #2b3035;
}

/* Basic styling */
body {
  background-color: var(--website-background-dark);
  color: var(--text-color-dark);
}

i {
  color: var(--text-color-dark);
}

a {
  color: cornflowerblue;
  text-decoration: underline;
}

header ul {
  list-style: none;
  padding: 0;
}

header a {
  color: var(--text-color-dark);
  text-decoration: none;
}
header a:hover {
  color: var(--text-color-dark);
  text-decoration: underline;
}

/* Header */
#header_top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Articles */
#main_article {
  background-color: #343a40;
}

#secondary_articles > div > div{
  background-color: var(--website-background-dark);
}

/* Aside */
.about {
  background-color: var(--website-background-grey);
}

#archives > ul a{
  color: cornflowerblue;
  text-decoration: underline;
}

#elsewhere > ul a{
  color: cornflowerblue;
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: var(--website-background-grey);
}

@media screen and (max-width: 990px) {
  .post-image {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  aside {
    display: none;
  }
}